<div class="header">
  <div class="d-flex align-items-center justify-content-center position-relative">
    <h2 class="m-2 pb-2 text-white font-weight-bold position-absolute start-0">
      <%= link_to partners_order_path(@report.order.id) do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </h2>
    <h2 class="m-2 pb-2 text-white font-weight-bold">終了報告</h2>
    <%= render 'shared/partner/sidebar_toggle' %>
  </div>
</div>

<div class="p-3">

  <div class="p-4 text-black">
    <p>お疲れさまでした。<br>終了報告をご記入ください。内容は施設が確認をします。送信した終了報告を内容を受け取り額が翌々月末に振り込まれます。間違っている場合はチャットにて訂正依頼が届きます。</p>
  </div>

  <div class="body bg-white border p-3 mb-3">
    <%= render 'partners/reports/form', report: @report, url: partners_order_report_path(@order.id) %>
  </div>
</div>
