<%= render 'shared/partner/header_with_link', title: "終了報告", path: partners_order_path(@report.order.id, is_accepted: true) %>

<div class="p-3">
  <div class="p-4 text-black">
    <p>
      下記の項目をご記入ください。内容は施設が確認します。
      送信した終了報告の内容を施設が承認いたしましたら、受取額が翌々月末に振り込まれます。
      内容に間違いがある場合はチャットにて訂正依頼が届きます。
    </p>
  </div>

  <div class="body bg-white border p-3 mb-3">
    <%= render 'partners/reports/form', report: @report, order: @order, url: partners_order_reports_path(@order.id) %>
  </div>
</div>
