<article class="container categorys d-none d-lg-block shadow">
  <div class="d-flex justify-content-around">
    <% categories.each do |category| %>
      <div class="category">
        <%= link_to customers_recreations_path(q: { tags_id_eq: category.id  }), class: 'card border-0 text-decoration-none recreation-category-item' do %>
          <div class="card-body zoom px-0">
            <picture>
              <%= image_tag category.image.to_s, class: "rounded-circle", alt: "" %>
            </picture>
            <h3 class="card-title pt-3"><%= category.name %></h3>
            <h6 class="card-subtitle pt-2 mb-2 text-muted"><%= simple_format category.text %></h6>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
