<h5 class="my-3 font-weight-bold text-black text-center">ご利用した施設の声</h5>
<div class="container evaluations-container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% evaluations.each_with_index do |evaluation, index| %>
      <div class="col card-container">
        <%= render 'shared/evaluation/card', evaluation: %>
      </div>
    <% end %>
  </div>
  <%= link_to customers_evaluations_path do %>
    <div class="text-center mt-5">
      <button class="btn evaluations-btn text-white fw-bold py-2 px-4">もっと見る</button>
    </div>
  <% end %>
</div>
