<div class="card-body">
  <h5 class="card-title title-b">相談・依頼の流れ</h5>
  <div>
    <span class="title-b">1</span> <span class="title-b">まずは相談・依頼をしましょう</span>
    <p class="text-muted">レクの気になる点の質問や希望日時、人数などを「相談・依頼の専用フォーム」に記載してパートナーに相談・依頼を行います。</p>
  </div>
  <div>
    <span class="title-b">2</span> <span class="title-b">要望をパートナーと調整して正式依頼をしましょう</span>
    <p class="text-muted">相談する時は直接パートナーとチャットができます。パートナーよりチャットで返信が来ますとご登録されたメールアドレス宛に通知がされます。相談段階で、要望や日程の条件が合えば画面に表示される、正式依頼ボタンより正式お申し込みを行います。</p>
  </div>
  <div>
    <span class="title-b">3</span> <span class="title-b">パートナーが承認してレク開催決定です</span>
    <p class="text-muted">正式依頼をした内容をパートナーが承認すると正式に依頼が決定します。</p>
  </div>
</div>
