.card-body
  h5.card-title.title-b 相談・依頼の流れ
  div
    span.title-b 1
    span.title-b まずは相談・依頼をしましょう
    p.text-muted レクの気になる点の質問や希望日時、人数などを「相談・依頼の専用フォーム」に記載してパートナーに相談・依頼を行います。
  div
    span.title-b 2
    span.title-b 要望をパートナーと調整して正式依頼をしましょう
    p.text-muted 相談する時は直接パートナーとチャットができます。パートナーよりチャットで返信が来ますとご登録されたメールアドレス宛に通知がされます。相談段階で、要望や日程の条件が合えば画面に表示される、正式依頼ボタンより正式お申し込みを行います。
  div
    span.title-b 3
    span.title-b パートナーが承認してレク開催決定です
    p.text-muted 正式依頼をした内容をパートナーが承認すると正式に依頼が決定します。
