/* 顧客 ページ */

.customer {
  background-color: $ba02;
}

.link-text {
  color: $body-color;
  &:hover {
    color: $body-color;
  }
}

.order-container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: rem(14);
  line-height: 120%;
  /* identical to box height, or 17px */
  /* BA10 */
  color: $ba10;
}

.card.order-detail {
  .card-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: rem(16);
    // or 19
    line-height: 120%;
    color: $ba10;
  }

  .card-body {
    //.label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    // or 19
    line-height: 120%;
    /* identical to box height, or 17px */


    /* BA8 */

    color: $ba08;

    //}
    .action {
      background-color: $ba01;

      border: 1px solid $ba04;
      box-sizing: border-box;
      border-radius: rem(4);

      .action-header {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: rem(14);
        line-height: 120%;
        /* identical to box height, or 17px */
        color: $ba10;
      }
    }
  }
}
