main.list
  .container.pt-4
    nav[aria-label="breadcrumb"]
      ol.breadcrumb
        li.breadcrumb-item
          = link_to 'トップ', root_path
        - if @tag&.present?
          li.breadcrumb-item
            = link_to 'プラン一覧', customers_recreations_path
          li.breadcrumb-item.active
            span.text-secondary = @tag.name
        - else
          li.breadcrumb-item.active
            span.text-secondary 一覧

  .recreation_plan_index
    .container
      - @recreation_plans.each do |rp|
        .row.mb-2
          .col-2
            div
              = image_tag rp.recreations.first&.recreation_images&.sliders&.first&.image&.to_s.presence, width: 130, height: 125, class: 'rounded w-100'
          .col-10
            = link_to rp.title, customers_recreation_plan_path(rp.id), class: 'text-black fw-bold text-decoration-none'
            - total_price_pair = @recreation_plans_with_total_price.find { |plan, price| plan == rp }
            - total_price = total_price_pair ? total_price_pair[1] : 0
            p.mb-0 レク回数: = rp.recreations.size + '回'
            p.mb-0 月あたりの金額: ¥= number_with_delimiter(rp.monthly_fee) + '~'
            p.mb-0 全体金額: ¥= number_with_delimiter(total_price) + '~'
            .d-flex
              - rp.tags.each do |tag|
                p.d-inline-block.px-2.border.rounded.fw-bold.me-2
                  = tag.name
      = paginate @recreation_plans
