main.detail
  .container.pt-2
    nav[aria-label="breadcrumb"]
      ol.breadcrumb
        li.breadcrumb-item
          = link_to 'トップ', root_path
        li.breadcrumb-item
          = link_to 'プラン一覧', customers_recreation_plans_path
        li.breadcrumb-item.active
          span.text-secondary
            = @recreation_plan.title
    .recreation-plan-show
      #recreationPlanShow