<%= render 'shared/customer/header' %>
<main class="customer">
  <article class="container px-0">
    <div class="row justify-content-center">
      <div class="mb-5">
        <div id='favoriteRecreationIndex'></div>
      </div>
    </div>
  </article>
</main>
