MAIL_SENDER_FROM='no-reply@ep.net'
DOMAIN='ec2-18-181-28-191.ap-northeast-1.compute.amazonaws.com'
#AWS_ACCESS_KEY_ID='SN7***'
AWS_BUCKET='ep-matching'
AWS_SECRET_ACCESS_KEY='CSAsn*'
AWS_REGION='ap-northeast-1'
AWS_LOGS_GROUP='recpittan_logs'
AWS_LOGS_STREAM='rails'
BASIC_AUTH_PASSWORD='admin'
LIMIT_JSLN_INGREDIENT=true
SLACK_WEBHOOK=https://hooks.slack.com/services/SGB***/EN***
REDIS_URL=redis://localhost:6379
DISABLE_SLACK=true
ENVIRONMENT=development
ENCRYPTION_PRIMARY_KEY=***
ENCRYPTION_DETERMINISTIC_KEY=***
ENCRYPTION_KEY_DERIVATION_SALT=***
#RAILS_ENV=production
RAILS_ENV=development
DATABASE_HOST=localhost
DATABASE_USER=****
DATABASE_PASSWORD=*****
DATABASE_NAME=****
SECRET_KEY_BASE_DUMMY=1
RSPEC_TIMEOUT=1200
SSLPORT=443
SELENIUM_DRIVER_URL=http://localhost:4444/wd/hub
MAIL_ADDRESS=10.128.24.226
MAIL_DOMAIN=recpittan.jp
MAIL_PORT=587
MAIL_USER_NAME=***
MAIL_PASSWORD=***
