<div class="header">
  <div>
    <h2 class="text-white font-weight-bold p-2">
      <%= link_to partners_path do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
      <%= @order.recreation.user.partner.name %>
    </h2>
  </div>
</div>

<div class="sub_header p-3">
  <div class="d-flex">
    <div class="flex-grow-1">
      レクリエーション・料金の確認
    </div>

    <div class="">
      <%= price_pipe(@order.recreation.price) %>
      <%= link_to partners_order_path(@order.id) do %>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </div>
  </div>
</div>
