= render 'shared/partner/header', title: "承認完了"

div.body.bg-white.p-3.mb-3
  div.p-4.text-center.text-black
    h3.font-weight-bold
      | 開催が決定しました！
      br
      | 施設の皆様は楽しみに待っています。
    p.text-danger
      | ※注意オンライン開催の場合当日のzoomURLをすぐに施設にチャットで共有をお願いいたします。
      = @order.user.company.facility_name
      | からレクの正式依頼を承認します。よろしいでしょうか？
      br
      | 承認後、ぜひお礼のメッセージをチャットでお送りしましょう！
    p
      | 「楽しんでいただけるかな」「どんな内容かな」と不安と楽しみで待っていることでしょう。
      br
      | チャット等で細かな連絡が来るかもしれませんが、少しでも楽しい時間を過ごして欲しいと思う気持ちからです。
      br
      | 楽しい時間を開催できるようご協力お願い致します。

  div.body.bg-white.p-3.mb-3
    div.col-md-12.text-center.pt-5
      = link_to '案件の確認', partners_order_path(@order.id), class: 'text-white btn btn-primary btn-lg btn-block btn-block w-100 p-3'
