<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to 'マイページ', customers_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '依頼履歴', customers_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '依頼詳細', customers_order_path(@order.id) %>
        </li>
        <li class="breadcrumb-item active">
          <span class="text-secondary">チャット</span>
        </li>
      </ol>
    </nav>
  </div>

  <div id="OrderChat"></div>
</main>
