<%= render 'shared/customer/header' %>
<main class="customer">
  <article class="container py-4 px-0">
    <div class="row justify-content-center">
      <div class="col-8 mb-5">
        <div class="card">
          <div class="card-header bg-white">
            <span class="font-weight-bold font-16 color-ba10">請求情報編集</span>
          </div>
          <div class="card-body">
            <%= render 'customers/invoice_informations/form', invoice_information: @invoice_information, url: customers_invoice_information_path %>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
