<button id="officialRequestBtn" type="button">
  正式依頼form表示
</button>

<button id="recreationBtn" type="button">
  レク金額のform表示
</button>
<button id="costBtn" type="button">
  コストのform表示
</button>
<button id="evaluationBtn" type="button">
  評価のform表示
</button>
