<button id="costBtn" type="button">
  交通費等コスト&レク金額form
</button>

<button id="officialRequestBtn" type="button">
  正式依頼form
</button>

<% if order&.report&.id.present? %>
  <button id="evaluationBtn" type="button">
    終了報告評価form
  </button>
<% end %>
