li.official_input.number.input.required.numeric.stringish style="display: none"
  label.label for="order_transportation_expenses"
    | 郵便番号
    abbr *
  input#order_transportation_expenses type="number" step="any" value=order.zip name="order[zip]"

li.official_input.number.input.required.numeric.stringish style="display: none"
  label.label for="order_prefecture"
    | 都道府県
    abbr *
  select#order_prefecture.select2.select2-hidden-accessible name="order[user_id]"
