<li class="official_input number input required numeric stringish" id="" style="display: none">
  <label for="order_transportation_expenses" class="label">
    郵便番号
   <abbr>*</abbr>
  </label>
  <input id="" step="any" type="number" value="<%= order.zip %>" name="order[zip]">
</li>

<li class="official_input number input required numeric stringish" id="" style="display: none">
  <label for="order_prefecture" class="label">
    都道府県
   <abbr>*</abbr>
  </label>

  <select name="order[user_id]" id="order_prefecture" class="select2 select2-hidden-accessible">
  </select>
</li>


