<div class="header bg-white">
    <h2 class="text-black text-center font-weight-bold p-2">
      新規登録
    </h2>
    <%= render 'shared/partner/sidebar_toggle' %>
</div>

<div id='registrationForm'></div>
