main.auth
  .container.pt-2
    nav[aria-label="breadcrumb"]
      ol.breadcrumb
        li.breadcrumb-item
          = link_to 'トップ', root_path
        li.breadcrumb-item
          = link_to 'ログイン', new_user_session_path
        li.breadcrumb-item.active[aria-current="page"]
          span パスワード再発行

  .container{{bodyClass}}
    .row.justify-content-center.my-5
      .col-md-8
        .card.p-4
          .card-body
            h5.card-title.font-24.fw-bold.text-center.line-height-120.text-ba10 パスワード再発行
            p.text-muted 新しいパスワード
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
              = f.error_notification
              = f.input :reset_password_token, as: :hidden
              = f.full_error :reset_password_token

              = f.input :password,
                        label: '新しいパスワード',
                        required: true,
                        autofocus: true,
                        hint: ("#{@minimum_password_length} 文字以上" if @minimum_password_length),
                        input_html: { class: 'form-control string email required w-100' }
              = f.input :password_confirmation,
                        label: '確認用の新しいパスワード',
                        required: true,
                        input_html: { class: 'form-control string email required w-100' }

              .row.justify-content-between
                .col-auto.text-center
                .col-md-6.text-center
                  = f.button :submit, '変更', class: 'btn btn-cprimary rounded-pill w-100 font-14 py-3 px-4 font-weight-bold text-white'
