<% if flash[:notice] %>
  <div class="flash alert alert-primary">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="flash alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>
