<p>
  ━━━━━━━━━━━━━━━━━━━<br/>
  介護スタッフの業務負担を増やさず利用者QOLを向上する<br />
  介護レクリエーションサービス　株式会社エブリ・プラス<br />
  TEL: 050-5306-7767<br />
  介護施設✕レク講師マッチングサービス： <%= link_to 'https://recreation.everyplus.jp', 'https://recreation.everyplus.jp' %><br />
  介護施設様 よくある質問： <%= link_to 'https://bit.ly/3wgqy6s', 'https://tayori.com/faq/5c0acac6bcdec23e3eac9bdf17d9e7f727d1c3cb' %><br />
  登録パートナー様よくある質問： <%= link_to 'https://bit.ly/4bwLpDT', 'https://tayori.com/q/everyplus-partner' %><br />
  ──────────────────────────<br/>
  毎日生配信！オンラインレクチャンネル: <%= link_to 'https://channel.everyplus.jp', 'https://channel.everyplus.jp' %>
  ━━━━━━━━━━━━━━━━━━━<br/>
</p>
