<p>
  ■カスタマーサポートについて<br/>
  ・営業時間：平日10時〜18時<br/>
  ※営業時間外のお問い合わせにつきましては、返信までにお時間がかかる場合がございます<br/>
</p>
<p>
  ************************************************************<br/>
  介護レクイベントプラットフォーム<br/>
  株式会社エブリ・プラス　顧客担当<br/>
  453-0012 名古屋市中村区井深町1-1 新名古屋センタービル本陣街 241-1号<br/>
  TEL 050-5306-7767<br/>
  HP：<%= link_to 'https://everyplus.jp', 'https://everyplus.jp' %><br/>
</p>
