<p>
  ━━━━━━━━━━━━━━━━━━━<br/>
  介護施設向け レクイベント、体験のプラットフォーム 株式会社エブリ・プラス<br />
  ───────────────────────────<br />
  〒 453-0012<br />
  愛知県名古屋市中村区井深町1-1 新名古屋センタービル本陣街 241-1号<br />
  TEL:：050-5306-7767<br />
  営業時間：平日10時〜18時<br />
  公式HP：<%= link_to 'https://everyplus.jp/', 'https://everyplus.jp/' %><br />
  介護施設様 よくある質問：<%= link_to 'https://bit.ly/3wgqy6s', 'https://bit.ly/3wgqy6s' %><br />
  登録パートナー様よくある質問：<%= link_to 'https://tayori.com/q/everyplus-partner/', 'https://tayori.com/q/everyplus-partner/' %><br />
  メールアドレス：info@everyplus.jp<br />
  ━━━━━━━━━━━━━━━━━━━<br/>
</p>
