/* レビューカードエリア */
.evaluations-container {
  .evaluation-card {
    min-height: 340px;
    border-radius: 8px;
  }
  
  .evaluation-date {
    font-size: 12px;
  }
  
  .evaluation-title {
    color: $body-color;
    font-weight: bold;
  }
  
  .card-footer {
    display: flex;
    align-items: center;
  }
  
  .evaluations-btn {
    background-color: #E83E8C;
  }

  /* ページネーションデザイン */
  .pagination {
    justify-content: center;

    .page-item {
      &.active .page-link {
        background-color: #E83E8C;
        border-color: #E83E8C;
        color: #fff;
      }

      &:not(.active) .page-link {
        color: #E83E8C;
      }

      .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// レク詳細ページ
.detail {
  .evaluation-card {
    min-height: 240px;
  }
  .return-link {
    color: $catalog-link;
    text-decoration: none !important;
  }
  .evaluation-date {
    font-size: 12px;
  }
}
