<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |b| %>
          <li class="breadcrumb-item"><a href="{{uri}}"><%= b[:name] %></a></li>
        <% end %>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="clink "><i class="material-icons ">navigate_before</i> 戻る</a>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            <picture loading="lazy">
              <source type="image/webp" srcset="{{catalogCardThumbnailUri item.media '320x180@1' 'webp'}},
                        {{catalogCardThumbnailUri item.media '320x180@1.5' 'webp'}} 1.5x,
                        {{catalogCardThumbnailUri item.media '320x180@2' 'webp'}} 2x">
              <source type="image/jpeg" srcset="{{catalogCardThumbnailUri item.media '320x180@1' 'jpg'}},
                        {{catalogCardThumbnailUri item.media '320x180@1.5' 'jpg'}} 1.5x,
                        {{catalogCardThumbnailUri item.media '320x180@2' 'jpg'}} 2x"/>

              <img loading="lazy"
                   src="{{catalogCardThumbnailUri item.media '320x180@1' 'jpg'}}, {{catalogCardThumbnailUri item.media '320x180@1.5' 'jpg'}} 1.5x,"
                   class="img-fluid" alt="介護レクリエーション - {{name}}">
            </picture>
          </div>
          <div class="col-md-7 recreation">
            <h1 class="title-b line-height-140">{{item.name}}</h1>
            <div class=" category-tags">
              {{{catalogCardCategoryLink item.baseCode}}}
              {{#each item.tags}}
              <a href="{{{catalogTagUri this }}}" class="tag-label">#{{this}}</a>
              {{/each}}
            </div>
          </div>
        </div>
        <h3 class="title-b">レク情報</h3>
        <div class="card ">
          <div class="card-body p-0">
            {{#if item.showCapacity}}
            <div class="border-bottom p-2">
              <h4 class="title">参加人数制限 {{item.capacity}}人</h4>
              <div class="text-muted">※目安30名様に1名のスタッフ様のサポートをお願い致します。</div>
            </div>
            {{/if}}
            <div class="border-bottom p-2">
              <h4 class="title">所要時間 {{item.requiredTime}}分</h4>
              <div class="text-muted">※ご要望に合わせてご相談が可能です。基本時間のため、ご要望にあわせて調節が可能です。</div>
            </div>
            <div class="p-2">
              <h4 class="title">対象者目安</h4>
              {{#each item.targetPersons}}
              <div class="text-muted">・{{this}}</div>
              {{/each}}
            </div>
          </div>
        </div>
        <h3 class="title-b">お借りしたいもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="text-muted">{{nl2br item.borrowItem}}</p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <h3 class="title-b">持ち込むもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="item-muted ">{{nl2br item.bringYourOwnItem}}</p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        {{> catalog_order_flow}}
      </div>
      <div class="col-md-7">
        <div class="card ">
          <div class="card-header bg-white">
            相談・依頼フォーム
          </div>
          <form action="{{{uri}}}" class="consult mt-3" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label for="consultType" class="title-b pb-3">相談と依頼どちらをご希望ですか？ {{#unless isPreview}}<span
                  class="label required">必須</span>{{/unless}}</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="consultType" id="consultTypeConsult"
                         value="consult" {{consultTypeConsult}}>
                  <label class="form-check-label" for="consultTypeConsult">まずは相談したい</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="consultType" id="consultTypeOrder"
                         value="order" {{consultTypeOrder}}>
                  <label class="form-check-label" for="consultTypeOrder">依頼をしたい</label>
                </div>
                <div>
                  <!-- <small id="consultType" class="form-text text-muted">We'll never share your email with
                      anyone
                      else.</small> -->
                </div>

              </div>
              <label class="title-b pb-3">開催したい希望日と時間を選択してください</label>
              <div class="d-flex flex-row align-items-stretch">
                <div class="desired-no d-flex align-items-center justify-content-center">
                  <div>1</div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="row">
                    <div class="col-12">希望日</div>
                    <div class="form-group col-3">
                      {{selectYear "desiredOneYear" desiredOneYear 'desiredOneDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">年</div>
                    <div class="form-group col-3">
                      {{selectMonth "desiredOneMonth" desiredOneMonth 'desiredOneDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">月</div>
                    <div class="form-group col-3">
                      {{selectDay "desiredOneDay" desiredOneDay 'desiredOneDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">日</div>
                  </div>
                  {{#if hasError}}
                  <div class="invalid-feedback d-block">
                    <span>{{desiredOneDateError}}</span>
                  </div>
                  {{/if}}
                  <div class="row">
                    <div class="col-12">希望時間</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "desiredOneHourSt" desiredOneHourSt 'desiredOneTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "desiredOneMinuteSt" desiredOneMinuteSt 'desiredOneTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">~</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "desiredOneHourEn" desiredOneHourEn 'desiredOneTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "desiredOneMinuteEn" desiredOneMinuteEn 'desiredOneTimeError'}}
                    </div>
                  </div>
                  {{#if hasError}}
                  <div class="invalid-feedback d-block">
                    <span>{{desiredOneTimeError}}</span>
                  </div>
                  {{/if}}
                </div>
              </div>
              <div class="d-flex flex-row align-items-stretch my-3">
                <div class="desired-no d-flex align-items-center justify-content-center">
                  <div>2</div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="row">
                    <div class="col-12">希望日</div>
                    <div class="form-group col-3">
                      {{selectYear "desiredTwoYear" desiredTwoYear 'desiredTwoDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">年</div>
                    <div class="form-group col-3">
                      {{selectMonth "desiredTwoMonth" desiredTwoMonth 'desiredTwoDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">月</div>
                    <div class="form-group col-3">
                      {{selectDay "desiredTwoDay" desiredTwoDay 'desiredTwoDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">日</div>
                  </div>
                  {{#if hasError}}
                  <div class="invalid-feedback d-block">
                    <span>{{desiredTwoDateError}}</span>
                  </div>
                  {{/if}}
                  <div class="row">
                    <div class="col-12">希望時間</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "desiredTwoHourSt" desiredTwoHourSt 'desiredTwoTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "desiredTwoMinuteSt" desiredTwoMinuteSt 'desiredTwoTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">~</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "desiredTwoHourEn" desiredTwoHourEn 'desiredTwoTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "desiredTwoMinuteEn" desiredTwoMinuteEn 'desiredTwoTimeError'}}
                    </div>
                  </div>
                  {{#if hasError}}
                  <div class="invalid-feedback d-block">
                    <span>{{desiredTwoTimeError}}</span>
                  </div>
                  {{/if}}
                </div>
              </div>
              <div class="d-flex flex-row align-items-stretch">
                <div class="desired-no d-flex align-items-center justify-content-center">
                  <div>3</div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="row">
                    <div class="col-12">希望日</div>
                    <div class="form-group col-3">
                      {{selectYear "desiredThreeYear" desiredThreeYear 'desiredThreeDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">年</div>
                    <div class="form-group col-3">
                      {{selectMonth "desiredThreeMonth" desiredThreeMonth 'desiredThreeDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">月</div>
                    <div class="form-group col-3">
                      {{selectDay "desiredThreeDay" desiredThreeDay 'desiredThreeDateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">日</div>
                  </div>
                  <div class="row">
                    <div class="col-12">希望時間</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "desiredThreeHourSt" desiredThreeHourSt 'desiredThreeTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "desiredThreeMinuteSt" desiredThreeHourSt
                      'desiredThreeTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">~</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "desiredThreeHourEn" desiredThreeHourEn 'desiredThreeTimeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "desiredThreeMinuteEn" desiredThreeHourEn
                      'desiredThreeTimeError'}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <label class="col-12 title-b pb-3" for="participant">おおよそ参加予定人数をご記入ください</label>
                <div class="form-group col-3">
                  <input class="form-control {{participantFormClass}}" id="participant" name="participant"
                         type="tel" placeholder="人数を入力" value="{{participant}}">
                  {{#if hasError}}
                  <div class="invalid-feedback">
                    <span>{{participantError}}</span>
                  </div>
                  {{/if}}
                </div>
                <div class="col-auto p-0 flex-v-c">人</div>
              </div>
              {{#if isOnline}}
              {{'オンラインレク'}}
              <div class="row pt-3">
                <label class="col-12 title-b pb-3" for="facilityCount">追加で参加する施設がある場合施設数をご記入ください</label>
                <div class="form-group col-3">
                  <input class="form-control {{facilityCountFormClass}}" id="facilityCount"
                         name="facilityCount" type="tel" placeholder="施設数を入力" value="{{facilityCount}}">
                  {{#if hasError}}
                  <div class="invalid-feedback">
                    <span>{{facilityCountError}}</span>
                  </div>
                  {{/if}}
                </div>
                <div class="col-auto p-0 flex-v-c">施設</div>

              </div>
              {{/if}}
              <div class="row pt-3">
                <label class="col-12 title-b pb-3">参加対象者の状態目安を教えてください</label>
                <div class="form-group col-12">
                  <div class="form-check">
                    <input class="form-check-input" name="targetPersons[]" type="checkbox" value="ほぼ自立可"
                           id="targetPersons1">
                    <label class="form-check-label" for="targetPersons1">
                      ほぼ自立可
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="targetPersons[]" type="checkbox" value="ほぼ要介助"
                           id="targetPersons2">
                    <label class="form-check-label" for="targetPersons2">
                      ほぼ要介助
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="targetPersons[]" type="checkbox" value="ほぼ認知症"
                           id="targetPersons3">
                    <label class="form-check-label" for="targetPersons3">
                      ほぼ認知症
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="targetPersons[]" type="checkbox"
                           value="介護度2以下が多い" id="targetPersons4">
                    <label class="form-check-label" for="targetPersons4">
                      介護度2以下が多い
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="targetPersons[]" type="checkbox"
                           value="介護度3以上が多い" id="targetPersons5">
                    <label class="form-check-label" for="targetPersons5">
                      介護度3以上が多い
                    </label>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <label class="col-12 title-b pb-3">都道府県と市区町村を選択してください</label>
                <div class="form-group col-6">
                  <label for="prefecture">都道府県</label>
                  {{selectPrefecture 'prefecture' prefecture}}
                </div>
                <div class="form-group col-6">
                  <label for="city">市区町村</label>
                  <select id="city" class="form-select" name="city">
                    <option style="display: none;">ー</option>
                  </select>
                </div>
              </div>
              <div class="form-group  row pt-3">
                <label for="comment" class="col-12 title-b pb-3">相談したいことがありましたらご記入ください</label>
                <div class="col-12" style="position: relative;">
                                <textarea id="comment" name="comment" class="form-control" rows="7"
                                          placeholder="">{{comment}}</textarea>
                  <div id="placeholderDiv" style="position: absolute;top: 15px;left: 15px;">
                    例）メイミさん、小林さんこんにちは。<br><br>
                    敬老の日のイベントとしての開催を検討しています。<br>
                    お元気な方が多く、子供っぽいような内容を好まない入居者さんが多いです。<br>
                    そのような方でも楽しむことは対応可能でしょうか？<br>
                    宜しくお願い致します。
                  </div>
                </div>
              </div>
              {{#if isOnline}}
              {{'オンラインレク の案内'}}
              <div class="row pt-3">
                <label class="col-12 title-b pt-2">※このレクはオンライン環境が必要です</label>
                <div class="col-12">
                  <span class="text color-ba08">レクをご利用いただくためにはオンライン環境が必要です。</span>
                </div>
                <div class="col-12 py-3 muted-box">
                  <div class="row ">
                    <div class="col-12 my-2">
                      <h4 class="title-b font-14 color-ba08">オンライン環境がない方へ</h4>
                    </div>
                  </div>
                  <div class="row pb-3">
                    <div class="col-auto text color-ba08"> 1</div>
                    <div class="col-10 px-0 text color-ba08">
                      期間限定でNTTの無料サポートが受けられます。<br>
                      <a href="https://form.run/@info-1631354048" target="_blank" class="clink"> NTT無料サポートを申し込む</a>
                    </div>
                  </div>
                  <div class="row d-none">
                    <div class="col-auto text color-ba08"> 2</div>
                    <div class="col-10 px-0 text color-ba08 d-none">
                      エブリ・プラスが推奨する簡単にできるオンライン環境をご紹介しています。<br>
                      <a href="https://tayori.com/faq/5c0acac6bcdec23e3eac9bdf17d9e7f727d1c3cb" target="_blank" class="clink">
                        オンライン環境のヘルプを見る</a>
                    </div>
                  </div>
                </div>
              </div>
              {{/if}}

              <div class="row justify-content-center pt-3">
                <div class="col-10">
                  <h4 class="title-b font-14 color-ba08">相談・依頼ボタンをクリックしても、正式に開催が決まるわけではありません。</h4>
                </div>

                <div class="col-6">
                  <input type="hidden" name="_csrf" value="{{csrfToken}}">
                  <button id="submit-button" type="submit" name="action" value="preview"
                          class="btn btn-cprimary rounded-pill w-100 font-14 py-3 px-4 font-weight-bold text-white"
                          {{submitDisabled}}>
                    <span class="">パートナーにレク開催を相談・依頼する</span></button>
                </div>
              </div>


            </div>

        </div>
        </form>
      </div>
    </div>
    </div>
  </article>
  {{addJquery}}

</main>
