<% if current_page.last? %>
  <a class="page-link shadow" style="cursor: not-allowed;">
    <span>次へ</span>
    <i class="material-icons ">navigate_next</i>
  </a>
<% else %>
  <%= link_to url, rel: 'next', remote: remote, class: 'page-link shadow' do %>
    <span>次へ</span>
    <i class="material-icons ">navigate_next</i>
  <% end %>
<% end %>
