<% if current_page.first? %>
  <a class="page-link shadow" style="cursor: not-allowed;">
    <i class="material-icons ">navigate_before</i>
    前へ
  </a>
<% else %>
  <%= link_to url, rel: 'prev', remote: remote, class: 'page-link shadow' do %>
    <i class="material-icons ">navigate_before</i>
    前へ
  <% end %>
<% end %>
