main
  .d-flex.flex-row.align-items-center.h-100 style="min-height: 50vh;"
    .container
      .row.justify-content-center
        .col-md-12.text-center
          span.display-1.d-block 403
          .mb-4.lead アクセス権限がありません。
          = link_to 'Homeへ戻る', root_path, class: 'clink'
