<main>
  <div class="d-flex flex-row align-items-center h-100" style="min-height: 50vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">500</span>
          <div class="mb-4 lead">システムのエラーが発生しました。お手数ですが、運営までご連絡ください。</div>
          <%= link_to 'Homeへ戻る', root_path, class: 'clink' %>
        </div>
      </div>
    </div>
  </div>
</main>
