<header class="d-flex justify-content-between align-items-center py-2">
  <div class="d-flex align-items-center w-25">
    <%= image_pack_tag 'menu.svg', id: "hamburger", class: "logo-navbar", width: "30", height: "30" %>
  </div>
  <h2 class="flex-grow-1 text-center text-black mb-0"><%= title %></h2>
  <div class="d-flex align-items-center w-25">
  </div>
</header>