<div id="customer-header" class="h-100 bg-white sticky-top">
  <div class="container ">
    <div class="row border-bottom">
      <div class="col-8 pt-3 pb-1"><%= current_user.partner&.name %></div>
    </div>
    <div class="row py-3">
      <div class="col-auto">
        <% if active_link?('mypage') || active_link?('orders') %>
          依頼履歴
        <% else %>
          <%= link_to '依頼履歴', partners_path, class: "clink" %>
        <% end %>
      </div>

      <div class="col-auto">
        <% if active_link?('registrations') %>
          アカウント
        <% else %>
          <%= link_to 'アカウント', edit_user_registration_path, class: "clink" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
