.header.bg-white.border-bottom.shadow-sm
  .d-flex.align-items-center
    = link_to path, class: "me-auto p-2 text-black" do
      = image_pack_tag 'left_arrow.svg', class: "left-arrow-icon", width: "18", height: "18"
    h2.flex-grow-1.text-center.p-2.mb-0.text-black = title
    .p-2 style="visibility: hidden;" ＜