<div id="hamburger" class="fadein-btn d-sm-none flex-right">
  <span class="inner_line line_first" id="line1"></span>
  <span class="inner_line line_second" id="line2"></span>
  <span class="inner_line line_third" id="line3"></span>
</div>
