.online_recreation_channels {
  .introduce_channel {
    border: 5px dashed #aaa;
    background-color: #eee;
    padding: 2em; 
  }

  .main_header {
    position: relative;
    display: inline-block;
  }
  
  .main_header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2em;
    height: 3px;
    background-color: $catalog-link;
  }

  .download_calendar {
    border: none;
    border-radius: 10px;
    background-color: $catalog-link;
  }
}
