.recreation-plan-estimate {
  width: 90%;

  // 見積書のレイアウトで使用するスタイル
  p {
    margin: 0;
  }

  .small-paragraph {
    font-size: 10px;
  }

  .middle-paragraph {
    font-size: 12px;
  }

  .top-total-price-section {
    border-bottom: 3px solid black;

    .total-price {
      font-size: 22px;
    }
  }

  .title {
    background-color: #F5F2F0;
  }

  .bottom-section {
    .dot-border {
      border-bottom: 2px dashed #F5F2F0;
    }

    .event-fee, .material-fee, .transportation-expenses {
      border-bottom: 2px solid #F5F2F0;
    }

    .bottom-total-price-section {
      .total-price {
        font-size: 20px;
      }
    }
  }
}

.recreation-estimate-index {
  .show-button {
    background-color: #E83E8C;
  }
}
