.panel-partner-details {
  .sub-panel {
    padding-left: 15px;
    margin-bottom: 30px;

    th {
      width: 50% !important;
    }
  }
  .link {
    padding: 8px;

    a {
      text-decoration: underline;
    }
  }

  .text-blue-light td {
    color: #4bacfe;
  }
}
