@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .chat_form{
    .chat-message{
      width: 300px !important;
    }
  }

  .partner-site {
    .sidebar {
      width: 60% !important;
      left: -60% !important;
      position: absolute;
      z-index: 10;
      height: 100vh;
      background: #ffffff;
      transition: .7s;
    }

    .fade-in {
      transform: translateX(100%);
    }

    .fadein-btn {
      display: block;
      position: absolute;
      top: 11px;
      right: 30px;
      width: 40px;
      height: 22px;
      cursor: pointer;
      transition: 1s;
    }

    .inner_line {
      display: block;
      position: absolute;
      left: 0;
      width: 50px;
      height: 3px;
      background-color: white;
      transition: 1s;
      border-radius: 4px;
    }

    .line_first {
      top: 0;
    }

    .line_second {
      top: 10px;
    }

    .line_third {
      bottom: 0;
    }

    .line_top,.line_middle,.line_bottom{
      background: white;
    }

    .line_top {
      transform: translateY(10px) rotate(-45deg);
      top: 0;
    }

    .line_middle {
      opacity: 0;
    }

    .line_bottom {
      transform: translateY(-10px) rotate(45deg);
      bottom: 0;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  //display: none;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
body {
  height: 100%;
  background-color: white;
}

.partner-site {
  background-color: white;

  .sidebar {
    width: 30%;
    color: #6C757D;

    a {
      text-decoration: none;
      color: #6C757D;
    }

    .header {
      box-shadow: rgba(100, 100, 111, 0.2) 0 0 10px 0;
    }

    .sidebar-wrapper {
      border-bottom: #bbbbbb 1px;
      display: grid;
      grid-auto-rows: 50px;
      grid-template-columns: 50px 1fr;

      .lect_item {
        grid-row: 1;
        grid-column: 1;
      }

      .right_item {
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  .main_contents {
    width: 100%;
    height: 100%;
    a {
      text-decoration: none;
      color: #6C757D;
    }

    .header-block {
      position: fixed;
      width: 100%;
    }

    .header {
      margin-bottom: 0 !important;
      background-color: #3880ff;
      h2 {
        margin-bottom: 0 !important;
      }
    }

    .sub_header {
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0 0 10px 0;
    }

    .nav-tabs .nav-link.active {
      border-bottom: 3px solid #007bff;
      color: #007bff;
    }
  }

  // chat list
  .chat {
    margin: 0 30px;
    // width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    overflow-y: scroll;
    // TODO(okubo): 本来はcalcで計算すべきだが、急ぎなので下記で対応
    height: 2000px;

    .mychat {
      background-color: #3880ff;
      color: white;
      border-radius: 5px;

      a {
        color: white;
      }
    }

    .text {
      background-color: #eee;
      color: black;
      border-radius: 5px;
    }
  }

  // 画面下部のchat
  .chat_form {
    height: 200px;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: white;
  }

  .disabled {
    pointer-events: none;
  }

  .rectitle-width {
    width: 300px;
  }

  .check-info{
    display: grid;
  }
}
