/* 印刷時のページ設定 */
@page {
  size: A4 portrait;
  margin: 1cm;
}

@media print {
  header {
    display: none;
  }

  .recreation-plan-estimate {
    page-break-after: always;
  }

  footer {
    display: none;
  }
}
