.partner-registration {
  input[type="text"] {
    border: 1px solid #E5E3DF;
    border-radius: 5px;
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  .terms, .privacy {
    vertical-align: bottom;
  }

  .progress-bar {
    position: relative;
    height: 5px;
    background-color: #F4F5F8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .bar {
    border-radius: 0 3px 3px 0;
  }

  .essential {
    color: #FF2323;
  }
}

.complete-registration {
  .line-button {
    background-color: #2DD36F;
    border: none;
  }

  .desc-flow {
    .flow-number {
      font-size: 24px;
      background-color: #E0E0E0;
      color: #339999;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.confirm {
  .reason {
    background-color: #F4F5F8;
    border-radius: 10px;
  }
}
