/* 認証系ページ */
.auth {

  .invalid-feedback {
    text-align: right;
  }

  .forgot-password {
    color: #343A40;
    line-height: rem(52);
    text-decoration: none;
  }

  .btn-green {
    color: white;
    font-weight: bold;
    background-color: #7aae4f;
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(16);
    padding-right: rem(16);
    border-radius: rem(60);
    border-color: #7aae4f;
    border-style: solid;
  }

  .registration-link {
    font-weight: bold;
    font-size: rem(14);
    line-height: 120%;
    color: #32B2E0;
    text-decoration: none;
  }

  /* 登録画面 */
  .step {
    &.active {
      .no {
        background-color: $catalog-primary;
      }

      .step {
        color: $ba10;
      }
    }

    &.done {
      .no {
        background-color: $catalog-sbgr10;
      }

      .step {
        color: $catalog-sbgr10;
      }
    }

    .no {
      display: inline-block;
      line-height: rem(32);
      height: rem(32);
      width: rem(32);
      background-color: #A3A7AB;
      color: white;
      // padding-top: rem(8);
      // padding-bottom: rem(8);
      // padding-left: rem(12);
      // padding-right: rem(12);
      // border-radius: rem(60);
    }

    .step {
      margin-left: rem(9);
      font-size: rem(14);
      font-weight: bold;
      color: #A3A7AB;
    }
  }

  .form-check-input:checked {
    background-color: $catalog-link;
    border-color: $catalog-link;
  }

  .email-check-info {
    background-color: #FBFAFA;
    padding: rem(16);
    color: $ba10;
    font-size: rem(14);
    line-height: 140%;
  }

}
