/* TOP ページ */

.top {
  .jumbotron-top {
    width: 100%;
    background-color: transparent !important;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-header {
      .first-section {
        .images {
          .image {
            border-radius: 10px !important;
            object-fit: cover;
            object-position: 45%;
          }
          @include media-breakpoint-up(lg) {
            display: initial;
          }

          @include media-breakpoint-up(xs) {
            display: none;
          }
        }
        .responsive-images {
          .image {
            border-radius: 10px !important;
            object-fit: cover;
            @include media-breakpoint-up(xs) {
              height: 120px;
              width: 110px;
            }
          }
        }
      }

      .second-section {
        .contents {
          @include media-breakpoint-up(lg) {
            padding-top: 70px;
          }

          @include media-breakpoint-up(md) {
            width: 85%;
          }

          color: $catalog-primary;

          h3 {
            color: #343A40;
            line-height: 2rem;
          }

          .link-to-recs {
            background-color: $catalog-primary !important;
          }
        }

        .feature-space {
          @include media-breakpoint-up(lg) {
            display: flex;
          }

          @include media-breakpoint-up(xs) {
            display: none;
          }
        }

        .feature {
          color: #DDB754;
          border: 3px solid #DDB754;
          border-radius: 70px;

          .title {
            @include media-breakpoint-up(xl) {
              font-size: 14px;
            }

            @include media-breakpoint-up(xs) {
              font-size: 5px;
            }
          }

          .content {
            @include media-breakpoint-up(xl) {
              font-size: 24px;
            }
          }
        }
      }

      .third-section {
        .image {
          border-radius: 10px !important;
          object-fit: cover;
        }

        @include media-breakpoint-up(lg) {
          display: initial;
        }

        @include media-breakpoint-up(xs) {
          display: none;
        }

      }

      .fourth-section {
        .image {
          border-radius: 10px !important;
          object-fit: cover;

          @include media-breakpoint-up(md) {
            height: auto;
            width: 100%;
          }

          @include media-breakpoint-up(xs) {
            height: 120px;
            width: 110px;
          }
        }
        .responsive-hidden-img {
          @include media-breakpoint-up(lg) {
            display: initial;
          }

          @include media-breakpoint-up(xs) {
            display: none;
          }
        }
      }

      .link-to-rec {
        @include media-breakpoint-up(lg) {
          width: 60%;
        }

        @include media-breakpoint-up(xs) {
          width: 100%;
        }
      }
    }

    .container {
      &.top {
        background-color: transparent !important;
      }

      &.categorys {
        bottom: 17rem;
        left: 0;
        right: 0;
      }

      h1 {
        display: inline-block;
        position: absolute;
        top: 40%;
        font-family: $jpFontFamilyBold;
        font-size: 1rem;
        opacity: 0.75;

        @include media-breakpoint-up(sm) {
          font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }

        font-weight: bold;
        padding: 0.5rem 0.5rem;
        background-color: white;
        color: black;
        filter: drop-shadow(0px 2px 4px rgba(40, 40, 40, 0.15));
      }

      h2 {
        display: inline-block;
        font-family: $jpFontFamilyBold;
        font-size: 1rem;
        opacity: 0.75;

        @include media-breakpoint-up(sm) {
          font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }

        font-weight: bold;
        padding: 0.5rem 0.5rem;
        //width: 77%;
        background-color: white;
        color: black;
        filter: drop-shadow(0px 2px 4px rgba(40, 40, 40, 0.15));
      }

      .search-conditions-box {
        background-color: #FBFAFA;
      }
    }
  }

  /* レクカードエリア */
  article {
    &.container {
      &.top {
        margin-top: rem(30);
        @include media-breakpoint-only(sm) {
          margin-top: rem(50);
        }
        @include media-breakpoint-only(md) {
          margin-top: rem(70);
        }

        @include media-breakpoint-only(lg) {
          margin-top: rem(160);
        }
        @include media-breakpoint-only(xl) {
          margin-top: rem(180);
        }
        @include media-breakpoint-only(xxl) {
          margin-top: rem(180);
        }
      }
    }
  }

  .tag-label {
    color: #92949C;
    text-decoration: none;
    border: 1px solid #92949C;
    border-radius: rem(4);
    font-size: rem(18);
    &:hover {
      color: #92949C;
    }
  }

  .look-more {
    background-color: #E83E8C;
  }
}
