/* TOP ページ */

.top {
  .jumbotron-top {
    width: 100%;
    background-color: transparent !important;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container {
      &.top {
        background-color: transparent !important;
      }

      &.categorys {
        bottom: 17rem;
        left: 0;
        right: 0;
      }

      h1 {
        display: inline-block;
        position: absolute;
        top: 40%;
        font-family: $jpFontFamilyBold;
        font-size: 1rem;
        opacity: 0.75;

        @include media-breakpoint-up(sm) {
          font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }

        font-weight: bold;
        padding: 0.5rem 0.5rem;
        background-color: white;
        color: black;
        filter: drop-shadow(0px 2px 4px rgba(40, 40, 40, 0.15));
      }

      h2 {
        display: inline-block;
        font-family: $jpFontFamilyBold;
        font-size: 1rem;
        opacity: 0.75;

        @include media-breakpoint-up(sm) {
          font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }

        font-weight: bold;
        padding: 0.5rem 0.5rem;
        //width: 77%;
        background-color: white;
        color: black;
        filter: drop-shadow(0px 2px 4px rgba(40, 40, 40, 0.15));
      }
    }
  }

  /* レクカードエリア */
  article {
    &.container {
      &.top {
        margin-top: rem(30);
        @include media-breakpoint-only(sm) {
          margin-top: rem(50);
        }
        @include media-breakpoint-only(md) {
          margin-top: rem(70);
        }

        @include media-breakpoint-only(lg) {
          margin-top: rem(160);
        }
        @include media-breakpoint-only(xl) {
          margin-top: rem(180);
        }
        @include media-breakpoint-only(xxl) {
          margin-top: rem(180);
        }
      }
    }
  }

  .tag-label {
    color: #92949C;
    text-decoration: none;
    border: 1px solid #92949C;
    border-radius: rem(4);
    font-size: rem(18);
    &:hover {
      color: #92949C;
    }
  }
}
