<div class="header">
  <div class="d-flex align-items-center justify-content-center position-relative">
    <h2 class="m-2 pb-2 text-white font-weight-bold position-absolute start-0">
      <%= link_to partners_profiles_path do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
    </h2>
    <h2 class="m-2 pb-2 text-white font-weight-bold">
      新規プロフィール追加
    </h2>
    <%= render 'shared/partner/sidebar_toggle' %>
  </div>
</div>
<div class="p-3">
  <div class="body bg-white p-3 mb-3">
    <%= render 'partners/profiles/form', profile: @profile, url: partners_profiles_path %>
  </div>
</div>
