<main class="list">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |b| %>
          <li class="breadcrumb-item"><a href="{{uri}}"><%= b[:name] %></a></li>
        <% end %>
      </ol>
    </nav>
  </div>


  <article class="container pt-4 px-0">
    <div class="row">
      <% @recs.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
    <%= paginate @recs %>

  </article>
</main>
