.order {
  .filter-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }

  .modal-fullscreen .modal-dialog {
    max-width: 100%;
    margin: 0;
  }

  .modal-fullscreen .modal-content {
    height: 100vh;
  }

  .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }

  .order-item {
    border-bottom: #bbbbbb 1px;

    .recreation-title {
      font-size: 12px;
    }

    .chat-preview {
      background-color: #F4F5F8;
      border-radius: 5px;
    }

    .chat-preview .logo-navbar {
      margin-right: 0.5rem;
    }

    .chat-preview p {
      margin-bottom: 0;
    }

    .last-chat-sended-at {
      font-size: 12px;
      margin-left: auto;
      color: gray;
    }

    .order_menu {
      cursor: pointer;
    }

    .order-menu-modal {
      display: none;
      width: 240px;
      bottom: 50px;
      right: 10px;
      z-index: 10;

      .remove-button {
        background-color: white;
        border: none;
      }
    }

    .status {
      &.in_progress,
      &.waiting_for_a_reply_from_partner,
      &.waiting_for_a_reply_from_facility,
      &.facility_request_in_progress,
      &.request_denied {
        .status__label {
          border: #FD7E14 1px solid;
          color: #FD7E14;
          border-radius: 15px;
        }
      }

      &.waiting_for_an_event_to_take_place {
        .status__label {
          border: #339999 1px solid;
          color: #339999;
          border-radius: 15px;
        }
      }

      &.unreported_completed,
      &.final_report_admits_not,
      &.finished,
      &.invoice_issued,
      &.paid,
      &.canceled,
      &.travled {
        .status__label {
          border: red 1px solid;
          color: red;
          border-radius: 15px;
        }
      }
    }
  }

  .modal {
    h5 {
      font-size: 18px;
    }

    .modal-header {
      border-bottom: none;
    }

    .modal-footer {
      border-top: none;
    }
  }
}
