main.order_memo
  - recreation.recreation_memos.each_with_index do |memo, i|
    .body
      .message
        = simple_format memo.body
      .col-auto.date
        = dotted_datetime memo.created_at
  .form
    = simple_form_for RecreationMemo.new, url: admin_recreation_recreation_memos_path(recreation) do |f|
      = f.input :recreation_id, as: :hidden, input_html: { value: recreation.id }
      = f.input :body, label: false
      = f.submit '送信'
