doctype html
html
  head
    title MachingSystem
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    link[rel="preconnect" href="https://fonts.googleapis.com"]
    link[rel="preconnect" href="https://fonts.gstatic.com" crossorigin=true]
    link[rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"]
    link[rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap&family=Material+Icons"]

  body
    = render 'shared/common/flash'
    .partner-site.d-flex.flex-row
      = render 'shared/partner/sidebar'
      .main_contents
        = yield
    = switch_user_select
